
<nav class="nav">
  <div class="row">
    <div class="small-12 columns">
      <div class="logo"><a href="#section1"><img src="/img/logo43.png" alt=""></a></div>
      <ul>
        <li><a href="#section2">Work</a></li>
        <li><a href="#section3">About</a></li>
        <li><a href="#section4">Contact</a></li>
      </div>
    </div>
  </div>
</nav>
