<section class="section3" id="section3">
  <div class="shape">
    </div>
  <div class="row">
    <div class="small-12 columns">
      <h1>About</h1>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <img src="/img/ProfilePic.png" alt="katelyn duncan" />
    </div>
    <div class="small-12 medium-6 large-8 columns profile">
      <p>Fresh out of bootcamp, I'm eager to take on the world wide web. I appreciate charmingly simple interfaces and funky design. I'm constantly learning and am always ready to try my hand at new technologies.
      </p>
      <p>When I'm not making awesome websites, you can find me in the mountains or the city,
        exploring with my man and the two coolest babes around.
      </p>
    </div>
  </div>
</section>
