<section class="section1" id="section1">
  <div class="filter"></div>
  <div class="close-right"></div>
  <div class="close-left"></div>
  <div class="row">
    <div class="small-12 columns">
      <div class="flexcontainer">
      <img src="/img/logo1.png" alt="katelyn duncan" />
      </div>
    </div>
  </div>
</section>
