<section class="section2" id="section2">
  <div class="shape">
    </div>
  <div class="row">
    <div class="small-12 columns">
      <h1>Work</h1>
    </div>
      <div class="gallery">
        <div class="large-4 medium-6 small-12 columns">
          <a href="sidedoor.html"><div class="project sidedoor">
            <h3>SideDoor Inc.</h3>
          </div></a>
        </div>
        <div class="large-4 medium-6 small-12 columns">
        <a href="proper.html"><div class="project proper">
          <h3>Proper Digital</h3>
        </div></a>
        </div>
        <div class="large-4 medium-6 small-12 columns">
        <a href="mary.html"><div class="project mary">
          <h3>Mary Peterson Portfolio</h3>
        </div></a>
        </div>
        <div class="large-4 medium-6 small-12 columns">
        <a href="creditfreeze.html"><div class="project credit">
          <h3>Credit Freeze</h3>
        </div></a>
        </div>
        <div class="large-4 medium-6 small-12 columns">
        <a href="dailyui.html"><div class="project daily">
          <h3>Daily UI Designs</h3>
        </div></a>
        </div>
        <div class="large-4 medium-6 small-12 columns">
        <a href="ux.html"><div class="project ux">
          <h3>WebLab UX/UI</h3>
        </div></a>
        </div>
        <div class="large-4 medium-6 small-12 columns">
        <a href="madlib.html"><div class="project madlib">
          <h3>Madlib Game</h3>
        </div></a>
      </div>


        <div class="large-4 medium-6 small-12 columns">
        <a href="portfolio1.html"><div class="project portfolio1">
          <h3>Portfolio Site</h3>
        </div></a>
        </div>
    </div>
  </div>
</section>
