<section class="section4" id="section4">
  <div class="shape">
    </div>
  <div class="row">
    <div class="small-12 columns">
    </div>
        <div class="social">
        <ul>
          <li><a href="mailto:duncan.katelynj@gmail.com"><img src="/img/mail.png" alt="email icon" /></a></li>
          <li><a href="github.com"><img src="/img/github.png" alt="github icon" /></a></li>
          <li><a href="linkedin.com"><img src="/img/linkedin.png" alt="linkedin icon" /></a></li>
        </ul>
    </div>
  </div>
</section>
