<section class="section2" id="section2">
  <div class="shape">
    </div>
  <div class="row">
    <div class="small-12 columns">
      <h1>Work</h1>
    </div>
      <div class="gallery">
        <div class="large-4 medium-6 small-12 columns">
        <a href="mockupb.html"><div class="project mockupB">
          <h3>Mockup-B</h3>
        </div></a>
        </div>
        <div class="large-4 medium-6 small-12 columns">
        <a href="ux.html"><div class="project ux">
          <h3>UX/UI</h3>
        </div></a>
        </div>
        <div class="large-4 medium-6 small-12 columns">
          <a href="mockupa.html"><div class="project mockupA">
            <h3>Mockup-A</h3>
          </div></a>
        </div>
        <div class="large-4 medium-6 small-12 columns">
        <a href="alice.html"><div class="project alice">
          <h3>Alice in Wonderland</h3>
        </div></a>
        </div>
        <div class="large-4 medium-6 small-12 columns">
        <a href="portfolio1.html"><div class="project portfolio1">
          <h3>Portfolio Site</h3>
        </div></a>
        </div>
        <div class="large-4 medium-6 small-12 columns">
        <a href="resume.html"><div class="project resume">
          <h3>Resume Site</h3>
        </div></a>
        </div>
    </div>
  </div>
</section>
