@import 'lib/pivotl';
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

$dark-gray: #4F4F4F;
$mint: #7CF4D3;

h1 {
  font-family: 'Roboto', sans-serif;
  color: $dark-gray;
  // margin-bottom: 150px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  color: $dark-gray;
  margin-bottom: 25px;
}
h3 {
  font-family: 'Roboto', sans-serif;
  color: snow;
  text-align: center;
  line-height: 300px;
}
p {
  font-family: 'Raleway', sans-serif;
  color: $dark-gray;
}

  .body {
    .nav {
      position: fixed;
    }
    h1 {
      padding-top: 50px;
    }
  }
  .nav {
  background-color: $mint;
  height: 72px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 20;
  top: 0;
  .logo {
    display: inline-block;
    float: left;
    line-height: 76px;
      img {
      transform: rotate(10deg);
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    li {
      &:last-child {
        margin-right: 0;
      }
      a {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        color: $dark-gray;
        line-height: 72px;
      }

      }
    }
  }

  .section1 {
    background-color: $dark-gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 88%;
    overflow: hidden;
    position: relative;
    h1 {
      margin-bottom: 150px;
    }
    .row, .columns {
      height: 100%;
    }
    .filter {
      height: 100%;
      width: 100%;
      background-color: rgba(128, 128, 128, 0.4);
      position: absolute;
      top: 0;
      z-index: 20;
    }
    // .close-right, .close-left {
    //   background-color: blue;
    //   height: 100%;
    //   width: 140%;
    //   z-index: 10;
    //   position: absolute;
    //   transform: rotate(45deg);
    //
    // }
    // .close-right {
    //   background-color: gray;
    //   left: -20%;
    //   transform-origin: center bottom;
    //   top: -20%;
    //   transform: rotate(45deg) translateY(-120%);
    //
    // }
    // .close-left {
    //   left: -20%;
    //   transform-origin: center top;
    //   transform: rotate(45deg) translateY(134%);
    //
    //
    // }
    .flexcontainer {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .img {
        height: 100%;
        width: 100%;
        opacity: 0.5;
      }
    }
  }

  .section2 {
    // height: 88%;
    overflow-x: hidden;
    position: relative;
    padding-top: 90px;
    h1 {
      margin-bottom: 145px;
      margin-top: 30px;
      line-height: 0;
    }
    .columns {
      margin-bottom: 32px;
    }
    .shape {
      background-color: #E9F259;
      transform: rotate(-8deg);
      position: absolute;
      top: 75px;
      // right: -12%;
      // margin-top: 86px;
      z-index: -1;
      transform-origin: 100% 100%;
    }
    .project {
      width: 100%;
      height: 300px;
      background-size: cover;
      overflow: hidden;
      position: relative;
      h3 {
        position: relative;
        z-index: 2;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
      &.mockupB {
        background-image: url('../img/MockupB.png');
      }
      &.ux {
        background-image: url('../img/CustomerJourneyMap.jpg');
      }
      &.sidedoor {
        background-image: url('../img/sdlarge.png');
      }
      &.proper {
        background-image: url('../img/properhome.png');
        background-position: center;
      }
      &.portfolio1 {
        background-image: url('../img/Portfolio1.png');
      }
      &.madlib {
        background-image: url('../img/madlib.png');
        background-position: center;
      }
      &:after {
        width: 200%;
        height: 0px;
        top: 50%;
        left: 50%;
        background: $dark-gray;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        content: "";
        position: absolute;
        z-index: 1;
        transition: all 0.5s ease-in-out;
      }
      &:hover:after {
        height: 150%;
        opacity: 0.6;
      }
    }
  }

  .pages {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .images {
    text-align: center;
    .mobile {
      margin-top: 20px;
    }
    .uximg {
      width: 75%;
      display: inline-block;
      margin-bottom: 50px;
    }
  }
  .pt50 {
    padding-top: 50px;
  }
  .btn-center {
    width: 100%;
    text-align: center;
  }
  .btn {
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-color: $dark-gray;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    outline: $dark-gray;
    position: relative;
    padding: 10px 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: $dark-gray;
    letter-spacing: 1px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    &:after {
    	width: 100%;
    	height: 0px;
    	top: 50%;
    	left: 50%;
    	background: $mint;
    	opacity: 0;
    	transform: translateX(-50%) translateY(-50%) rotate(45deg);
      content: "";
      position: absolute;
      z-index: -1;
      transition: all 0.5s ease-in-out;
    }
    &:hover:after {
    	height: 600%;
    	opacity: 1;
    }
    &:hover {
      border-color: $mint;
    }
  }
  .section3 {
    overflow: hidden;
    position: relative;

    .shape {
      height: 60%;
      width: 124%;
      transform: rotate(-8deg);
      position: absolute;
      top: 75px;
      right: -12%;
      z-index: -1;
      transform-origin: 100% 100%;
      background-color: #9EFFB8;
    }
    h1 {
      text-align: left;
    }
  }
  .section4 {
    overflow: hidden;
    position: relative;
    .columns {
      margin-bottom: 32px;
    }
    .shape {
      height: 110%;
      width: 175%;
      background-color: #D46CE7;
      transform: rotate(-8deg);
      position: absolute;
      top: 0;
      right: -12%;
      // margin-top: 86px;
      z-index: -1;
      transform-origin: 100% 100%;
    }
    .social {


      ul {
        // margin-left: 120px;
        text-align: center;
        li {
          text-decoration: none;
          display: inline-block;
        }
      }
    }
  }

@media only screen {
  .nav{
    li{
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .section2 {
    // background-color: #E9F259;
    overflow: hidden;
    .shape {
      height: 2000px;
      width: 178%;
      right: -74%;
    }
  }
  .section3{
    height: 800px;
    // background-color: #9EFFB8;
    text-align: center;
    margin-bottom: 0;
    .shape {
      height: 570px;
      width: 178%;
      right: -74%;
    }
      .columns {
        margin-top: 60px;
        height: 80px;
        img {
          // margin-top: 25px;
          height: 200px;
          width: 200px;
        }
      }
    .profile {
      margin-top: 150px;
      p {
        font-size: 16px;
        text-align: left;
      }
    }
    }
  .section4{
    padding-top: 25px;
    .social {
      img {
        height: 50px;
        width: 50px;
      }
      li {
        margin-top: 0;
        margin-right: 15px;
      }
    }
  }

  }





@media only screen and (min-width: 40.063em) {
  .nav {
    li {
      margin-right: 40px;
    }
  }
  .section2 {
    background-color: transparent;
    .shape {
      height: 1000px;
    }
  }
  .section3{
    height: 950px;
    background-color: transparent;
    text-align: left;
    padding-top: 90px;
    .columns {
      margin-top: 0;
      height: 200px;
      img {
        height: auto;
        width: auto;
      }
    }
    .profile {
      margin-top: 20px;
      p {
        font-size: 20px;
      }
    }
  }
  .section4{
    padding-top: 90px;
    height: 535px;
    background-color: transparent;
    .shape {
      height: 100%;
    }
    .social {
      img {
        height: 100px;
        width: 100px;
      }
      li {
        margin-top: 160px;
        margin-right: 50px;

      }
    }
  }


}

@media only screen and (min-width: 64.063em) {
  .section2 {
    background-color: transparent;
    .shape {
      height: 65%;
      width: 124%;
      right: -12%
    }
  }
  .section3 {
    .shape {
      height: 55%;
      width: 124%;
      right: -12%
  }
}

}
