<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class = "body">
    <% include ./partials/headerP %>
    <div class="row">
      <div class="large-8 medium-10 small-12 large-offset-2 medium-offset-1 columns pt50">

        <h1>Alice in Wonderland</h1>
        <p>This is a project I worked on in the HTML portion of Weblab Development Bootcamp. The task was to create a webpage that displayed several chapters of Alice in Wonderland and linked them together in a table of contents. I was excited to think of a layout and try some different css to add cool features. </p>
        <div class="btn-center">
        <a class="btn" href="/Alice/index.html">View Alice in Wonderland</a>
        </div>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12">
        <div class="images">
          <div class="full">
          <img src="/img/alice.jpg" alt="screenshot of webpage" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
