<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class = "body">
    <% include ./partials/headerP %>
    <div class="row">
      <div class="large-8 medium-10 small-12 large-offset-2 medium-offset-1 columns pt50">

        <h1>Credit Freeze</h1>
        <p>Tech Stack: Photoshop, Illustrator</p>
        <p>When the Equifax data breach happened, I was one of many worried about the security of my credit moving forward. I went through the confusing process of trying to figure out how to freeze my credit with the top three agencies. I kept wishing that there was just one place to apply to freeze my credit, save my security PINs, and manage the freezing and unfreezing process in the future. These mockups came from that place of frustration. I wanted to create an interface that cleaned up much of the clutter found on the three major credit agencies' sites and credit freeze forms. I combined all of the information that each agency required to freeze your credit into one simple and straightforward form. The idea is that a user can go to this site to apply to freeze their credit at all three major credit agencies, pay the fees to do so, and then return to this site to unfreeze or freeze in the future. Some improvements I would like to add include: a clear explanation of the security of the site (users might be nervous and weary of sharing sensitive information), integration of a payment system like Stripe or Paypal, creation of a single password or PIN to manage information on this site so users dont have to save all three PINs (the site will do that for them). </p>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12 columns">
        <div class="images shadow">
          <div class="full">
          <img src="/img/creditfreezeform1.jpg" alt="design mockup of login page" />
          </div>
        </div>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12 columns">
        <div class="images shadow">
          <div class="full">
            <img src="/img/creditfreezeform2.jpg" alt="design mockup of form">
          </div>
        </div>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12 columns">
        <div class="images shadow">
          <div class="full">
            <img src="/img/creditfreezeform3.jpg" alt="design mockup of multiple choice questions">
          </div>
        </div>
      </div>
    </div>
      <div class="row pages">
        <div class="small-12 columns">
          <div class="images shadow">
            <div class="full">
              <img src="/img/creditfreezeform4.jpg" alt="design mockup of dashboard">
            </div>
          </div>
        </div>
      </div>
      <div class="row pages">
        <div class="columns small-12 large-6">
          <div class="images">
            <div class="mobile">
            <img class="shadow" src="/img/creditfreezeform1m.jpg" alt="design mockup of login page" />
            </div>
          </div>
        </div>
        <div class="small-12 large-6 columns">
          <div class="images">
            <div class="mobile">
              <img class="shadow" src="/img/creditfreezeform2m.jpg" alt="design mockup of form">
            </div>
          </div>
        </div>
      </div>
      <div class="row pages">
        <div class="small-12 large-6 columns">
          <div class="images">
            <div class="mobile">
              <img class="shadow" src="/img/creditfreezeform3m.jpg" alt="design mockup of multiple choice questions">
            </div>
          </div>
        </div>
          <div class="small-12 large-6 columns">
            <div class="images">
              <div class="mobile">
                <img class="shadow" src="/img/creditfreezeform4m.jpg" alt="design mockup of dashboard">
              </div>
            </div>
          </div>
        </div>
  </body>
</html>
