<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class = "body">
    <% include ./partials/headerP %>
    <div class="row">
      <div class="large-8 medium-10 small-12 large-offset-2 medium-offset-1 columns pt50">

        <h1>Daily UI</h1>
        <p>Tech Stack: Photoshop, Illustrator</p>
        <p>Daily UI has been a fun creative challenge for me. They send a design prompt email everyday for 100 days. These are a few of the things I have come up with based on Daily UI prompts. I typically use Photoshop and Illustrator. Something I try to focus on is trying to solve these problems in a more creative way, adding little features that I think improve the overall experience. For example, on the calculator, I added the ability to see the calculations as well as the total and to tap and edit without having to delete everything and start over. On the sign in form, I tried to simplify and only ask the user for necessary information. I also removed the confirm email field to reduce friction.</p>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12 large-6 large-push-3 columns">
        <div class="images shadow">
          <div class="full">
          <img src="/img/signupform.jpg" alt="design mockup of login page" />
          </div>
        </div>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12 large-4 large-push-1 columns">
        <div class="images shadow">
          <div class="full">
            <img src="/img/calculator.jpg" alt="design mockup of a calculator">
          </div>
        </div>
      </div>
      <div class="small-12 large-4 large-pull-1 columns">
        <div class="images shadow">
          <div class="full">
            <img src="/img/creditcardform.jpg" alt="design mockup of payment form">
          </div>
        </div>
      </div>
    </div>
      <div class="row pages">
        <div class="small-12 columns">
          <div class="images shadow">
            <div class="full">
              <img src="/img/UserProfile.jpg" alt="design mockup of dashboard">
            </div>
          </div>
        </div>
      </div>
      <div class="row pages">
        <div class="columns small-12">
          <div class="images">
            <div class="full">
            <img class="shadow" src="/img/BarberLanding.jpg" alt="design mockup of a landing page for a barber shop" />
            </div>
          </div>
        </div>
      </div>
      <div class="row pages">
        <div class="small-12 columns">
          <div class="images">
            <div class="full">
              <img class="shadow" src="/img/TimGravelleexample.jpg" alt="design mockup of real estate landing page">
            </div>
          </div>
        </div>
      </div>
      <div class="row pages">
        <div class="small-12 columns">
          <div class="images">
            <div class="mobile">
              <img class="shadow" src="/img/TimGravelleexampleMOD.jpg" alt="design mockup of a real estate landing page">
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
