<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/section1 %>
    <% include ./partials/header %>
    <% include ./partials/section2 %>
    <% include ./partials/section3 %>
    <% include ./partials/section4 %>
  </body>
</html>
