<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class = "body">
    <% include ./partials/headerP %>
    <div class="row">
      <div class="large-8 medium-10 small-12 large-offset-2 medium-offset-1 columns pt50">

        <h1>Madlib Game</h1>
        <p>This is a personal project that I worked on to practice jquery. I decided to expand on a madlib project I created in General Assembly's Dash where users would be asked for specific input and then that input would be compiled into a short story. I improved accessibility features by adding keyboard shortcuts and error handling. I really enjoyed problem solving throughout this project, trying different strategies with jquery to make things work. </p>
        <div class="btn-center">
        <a class="btn" href="/MadlibProject/index.html">View Madlib Project</a>
        </div>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12">
        <div class="images">
          <div class="full">
          <img src="/img/madlib.png" alt="screenshot of webpage" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
