<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class = "body">
    <% include ./partials/headerP %>
    <div class="row">
      <div class="large-8 medium-10 small-12 large-offset-2 medium-offset-1 columns pt50">

        <h1>Mary Jill Peterson Portfolio Website</h1>
        <p>Tech Stack: Jekyll, HTML, CSS, SASS, jQuery, AWS</p>
        <p>This is a project that I did for a designer, working off of mockups that she provided to me. I collaborated with another developer using github. We used jquery and jekyll for templating. This was a quick and fun project to work on. I learned a lot working with the designer and other developer to make sure we delivered what she was expecting and more.</p>
        <div class="btn-center">
        <a class="btn" href="http://maryjillpeterson.com/">View maryjillpeterson</a>
        </div>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12">
        <div class="images">
          <h2>Home Page</h2>
          <div class="uximg">
          <a href="/img/mary_home.png">
          <img src="/img/mary_home.png" alt="screenshot of a webpage" />
        </div>
          <h2>Portfolio Page</h2>
          <div class="uximg">
          <a href="/img/mary_portfolio.png">
          <img src="/img/mary_portfolio.png" alt="screenshot of a webpage" />
          </a>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
