<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class = "body">
    <% include ./partials/headerP %>
    <div class="row">
      <div class="large-8 medium-10 small-12 large-offset-2 medium-offset-1 columns pt50">

        <h1>Mockup-A Weblab</h1>
        <p>This is another project I worked on in the HTML portion of Weblab Development Bootcamp. We were required to code a pixel perfect webpage from a Zeplin mockup using HTML and CSS. This was the first time that I had worked from a mockup with a lot of different components and it was difficult at first to figure out the positioning of each element on the page and make everything cohesive. I really enjoyed working through the challenges presented in this project and learned a ton about layout in HTML.  </p>
        <div class="btn-center">
        <a class="btn" href="/mockupA/index.html">View Mockup-A</a>
        </div>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12">
        <div class="images">
          <div class="full">
          <img src="/img/mockupA.png" alt="screenshot of webpage" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
