<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class = "body">
    <% include ./partials/headerP %>
    <div class="row">
      <div class="large-8 medium-10 small-12 large-offset-2 medium-offset-1 columns pt50">

        <h1>Portfolio Site</h1>
        <p>This is a personal project that I created to display some of my work. I was really interested in parallax scrolling at the time and decided that I wanted to implement that feature using a jquery plugin. It was challenging for me to work through the process of implementing a plugin and getting it to work correctly within my site, but I’m so glad that I tried it and really like how it turned out. I also wanted to play around with some jquery click events and added some modal popups in my project gallery as well as the menu.  </p>
        <div class="btn-center">
        <a class="btn" href="/PortfolioSite/index.html">View Portfolio Site</a>
        </div>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12">
        <div class="images">
          <div class="full">
          <img src="/img/portfolio1.png" alt="screenshot of webpage" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
