<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class = "body">
    <% include ./partials/headerP %>

    <div class="row">
      <div class="large-8 medium-10 small-12 large-offset-2 medium-offset-1 columns pt50">

        <h1>Proper Digital</h1>
        <p>Tech Stack: Jekyll, HTML, CSS, SASS, jQuery, AWS</p>
        <p>Proper Digital is a web design and development business that my sister and I started. She does the design and I write the code. When creating the website, I wanted to challenge myself and use Jekyll for templating which I hadn't done before. Laying things out in Jekyll was a little different than what I was used to, but in the end, I appreciated the efficiency and organization it brought to the code base. I also incorperated a drop down nav bar using jquery which was an interesting new challenge for me.  </p>
        <div class="btn-center">
        <a class="btn" href="http://properdigital.co">View Proper Digital</a>
        </div>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12">
        <div class="images">
          <div class="full">
          <img src="../img/properhome.png" alt="screenshot of webpage" />
          </div>
        </div>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12">
        <div class="images">
          <div class="full">
          <img src="../img/properservices.png" alt="screenshot of webpage" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
