<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class = "body">
    <% include ./partials/headerP %>
    <div class="row">
      <div class="large-8 medium-10 small-12 large-offset-2 medium-offset-1 columns pt50">

        <h1>Resume Site</h1>
        <p>This is a project that I worked on in the HTML/CSS portion of the Skillcrush Web Developer Blueprint. We were required to code a resume website based on a pdf file using HTML and CSS. The goal was to make the site look as similar to the pdf as possible. I enjoyed making adjustments to my code along the way and trying different style techniques to match my website to the pdf file. This was my first experience trying to code a website from a pdf file and I am very proud of how it turned out. </p>
        <div class="btn-center">
        <a class="btn" href="/Resume/index.html">View Resume Site</a>
        </div>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12">
        <div class="images">
          <div class="full">
          <img src="/img/ResumeSite.png" alt="screenshot of webpage" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
