<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class = "body">
    <% include ./partials/headerP %>
    <div class="row">
      <div class="large-8 medium-10 small-12 large-offset-2 medium-offset-1 columns pt50">

        <h1>SideDoor Inc.</h1>
        <p>Tech Stack: Vagrant, Gulp, HTML, CSS, LESS, Bootstrap, jQuery, CakePHP, Photoshop, Illustrator</p>
        <p>SideDoor Inc. is a startup in Boulder, Colorado that works to help people buy and sell homes without real estate agents. I worked as a User Experience Designer and Frontend Developer. My job was to help with the redesign of SideDoor's web based platform, focusing on usability, functionality, and over all experience. I collaborated with a team which included, the CEO, the COO, and a backend developer. I focused primarily on the design and layout of pages as well as the frontend code. For design, I used Illustrator and Photoshop to create mockups for the desktop, tablet, and mobile versions of the site. I then sent those designs for review, tweaked what needed tweaking, and began coding. This was my first major project using Bootstrap, LESS, and CakePHP which was a great challenge for me. I loved becoming more familiar with these technologies and appreciate how they can be utilized to simplify code and save time. It was also a great opportunity and creative challenge to head up the design for this project.</p>
        <div class="btn-center">
        <a class="btn" href="https://www.sidedoorinc.com/">View SideDoor Inc.</a>
        </div>
      </div>
    </div>
    <div class="row pages">
      <!-- <div class="row">
        <ul class="columns small-12 large-4 push-4">
          <li> <img src="/img/bath.svg" alt=""> </li>
          <li> <img src="/img/bed.svg" alt=""></li>
          <li> <img src="/img/squarefeet.svg" alt=""></li>
        </ul>
      </div> -->
      <div class="small-12 columns">
        <div class="images">
          <div class="full">
          <img src="/img/sdlarge.png" alt="screenshot of webpage" />
          </div>
        </div>
      </div>
    </div>
    <div class="row pages">
      <h2 class="small-12">Inbox</h2>
      <div class="small-12 columns">
        <div class="images">
          <div class="full">
            <img class="shadow" src="/img/inbox.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row pages">
      <h2 class="small-12">Blog</h2>
      <div class="small-12 columns">
        <div class="images">
          <div class="full">
            <img class="shadow" src="/img/sdblog.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row pages">
      <div class="small-12 columns">
        <div class="images">
          <div class="full">
            <img src="/img/sdblogsm.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
